@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
	#btn_nav{
		@apply fixed 
        flex
        justify-center items-center m-1 p-2
        text-3xl font-bold text-white
        rounded-full
        shadow-inner-xl shadow-orange-600 
        hover:bg-gray-500 hover:bg-opacity-50 
        hover:shadow-orange-400
        transition-all
		z-70;
	}
}

@font-face {
	font-family: "Shippori";
	src: url("/storage/app/public/font/ShipporiAntique-Regular.ttf") format('truetype');
}
@font-face {
	font-family: "Mukta";
	src: url("/storage/app/public/font/Mukta-Regular.ttf") format('truetype');
}

.font-mukta{
	font-family: "Mukta";
}

.font-shippori{
	font-family: "Shippori";
}

/*Animation en background*/
span{
	position: absolute;
	pointer-events: none;
	background: #A46D04;
	animation: animate 3s linear infinite;
	z-index: -1000;}
@keyframes animate{
	0%
	{
		transform: scale(0) translateY(0) translateX(0) rotate(0deg);
		opacity: 1;
	}
	40%
	{
		transform: scale(1) translateY(-150%) translateX(-150%) rotate(0deg);
	}
	75%
	{
		transform: scale(0.75) translateY(-1000%) translateX(100%) rotate(180deg);
		opacity: 1;
	}
	100%
	{
		transform: scale(0.5) translateY(-800%) translateX(-50%) rotate(180deg);
		opacity: 0;
	}
} 

/* Animation de soulignage de liens (balises <a>) */
.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(255, 147, 46), rgb(0, 0, 0));
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}
.link-underline-black {
    background-image: white;
}
.link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%
}
